<script id="personTemplate" type="text/template">
    <div id="person">
        <div id="imageHolder">
            <img src="img/default.gif" width="70px;">
        </div>
        <div id="contactInfo">
            <ul>
                <li><%= firstName %><%= lastName %></li>
                <li><%= address %></li>
                <li><%= city %>, <%= state %></li>
                <li><%= phone %></li>
            </ul>
        </div>
        <button class="delete">Delete</button>
    </div>
</script>